.editor-container {
    background-color: #252933;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 90vh;
    align-items: center;
}

.main-container {
    display: grid;
    width: 90vw;
    height: 75vh;
    grid-template-columns: 1fr 1fr;
    /* background-color: #2a303d; */

}

.editors {
    height: 94%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-basis: 30%;
    background-color: #383b42;
    border-radius: 25px;
}

.canvas-container {
    margin: 0 auto;
    width: 50vw;
    height: 70vh;
    flex-basis: 60%;
}

#text {
    padding: 1rem 2.6em;
    border-radius: 28px;
    background-color: #ebeef3;
    color: #555657;
    font-size: 1.5625em;
}

.switchLine-btn {
    background-color: #33abc9;
}

.addLine-btn {
    background-color: #40e259;
}

.delete-btn {
    background-color: #aa1519;
}

.font-container {
    background-color: #19a59f;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 20px;
    border-radius: 20px;
}

.font-container select {
    grid-column: 1 / 4;
    text-align: center;
    border-radius: 20px;
}


canvas {
    display: block;
    margin: 0 auto;
    outline: 1px solid black;
    background-color: white;
    border-radius: 15px;
}

.hidden {
    display: none;
}

button {
    border-style: none;

}

.font-container button {
    background-color: #151704;
}

.editor-container button {
    border-radius: 12.5px;
    cursor: pointer;
}

.share {
    background-color: rgb(179, 39, 179);
}

.save {
    background-color: #40e259;
}

.download {
    background-color: #33abc9;
}

.download a {
    text-decoration: none;
    text-transform: none;
}

.save-meme {
    background-color: rgb(84, 183, 135);
}

@media (max-width: 1035px) {

    .main-container {
        /* height: 100vh; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .canvas-container {
        height: 100%;
        margin-bottom: 10px;
        display: flex;
    }

    #canvas {
        height: 500px;
        display: flex;
    }

    .editors {
        position: relative;
        width: 500px;
        justify-self: center;
        gap: 10px;
    }

    .line-text {
        height: 60%;
    }

}

@media (max-width: 930px) {
    .main-container {
        /* height: 100vh; */
        width: 100vw;
    }


}

@media (max-width: 550px) {
    .editors {
        width: 300px;
    }

    .line-text {
        width: 100%;
    }

    .font-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        width: 100%;
    }


    #canvas {
        position: relative;
        width: 375px;
        height: 375px;
    }

}