* {
    box-sizing: border-box;
}



body {
    margin: 0 auto;
}


.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: cadetblue;
}

.link-container {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.img-container img {
    width: 100%;
    border-radius: 20px;
}


.img-container {
    display: grid;
    margin: 30px;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    ;
    gap: 10px;
}

.editor-container {
    background-color: rgb(227, 232, 232);
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

.main-container {
    display: flex;
    width: 100vw;
    height: 75vh;
    justify-content: space-between;
    background-color: #fff;

}

.canvas-container {
    margin: 0 auto;
    width: 50vw;
    height: 70vh;
}


canvas {
    display: block;
    margin: 0 auto;
    outline: 1px solid black;
    background-color: white;
}

.hidden {
    display: none;
}